<ons-page ng-controller="DashboardController">

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">{{app.pageTitle}}</div>
  </ons-toolbar>

  <ons-tabbar swipeable position="auto" ons-prechange="updateTitle($event)">
    <ons-tab page="dashboard.html" label="Dashboard" icon="ion-home, material:md-home" badge="{{cards.length}}" active>
    </ons-tab>
    <ons-tab page="dialog.html" label="Dialog" icon="md-settings" active-icon="md-face">
    </ons-tab>
  </ons-tabbar>

  <ons-dialog var="dialog">
    <div style="text-align: center; padding: 10px;">
      <p>
        This is a dialog.
      </p>
  
      <p>
        <ons-button ng-click="dialog.hide()">Close</ons-button>
      </p>
    </div>
  </ons-dialog>

  <ons-bottom-toolbar>
    <div class="contenido-bottom-toolbar">Contenido</div>
  </ons-bottom-toolbar>

</ons-page>

<template id="dashboard.html">
  <ons-page id="dashboard">
    <p style="text-align: center;">
      <ons-progress-circular indeterminate ng-if="cargando"></ons-progress-circular>
    </p>
    <ons-card ng-repeat="card in cards" ng-if="!cargando">
      <img ng-src="{{card.image}}" alt="Onsen UI" style="width: 100%">
      <div class="title">
        {{card.title}}
      </div>
      <div class="content">
        {{card.description}}
      </div>
      <div class="footer" style="text-align: right;">
        <hr>
        <ons-button>
          Ver mas...
        </ons-button>
      </div>
    </ons-card>
  </ons-page>
</template>

<template id="dialog.html">
  <ons-page id="dialog">
    <p style="text-align: center">
      <ons-button ng-click="showDialog()">
        Dialog
      </ons-button>
    </p>
  </ons-page>
</template>