<ons-page ng-controller="LoginController">

  <div style="text-align: center; margin-top: 80px">
    <p style="margin-bottom: 30px;">
      <img src="img/onsen.svg" alt="" width="50%">
    </p>
    <p>
      <ons-input id="username" modifier="underbar" placeholder="Username" float ng-model="login.username"></ons-input>
    </p>
    <p>
      <ons-input id="password" modifier="underbar" type="password" placeholder="Password" float ng-model="login.password"></ons-input>
    </p>
    <p>
      Recordarme <ons-switch ng-model="login.rememberme"></ons-switch>
    </p>
    <p style="margin-top: 30px;">
      <ons-button ng-click="doLogin()">Acceder</ons-button>
    </p>
  </div>
</ons-page>