<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="
      default-src https://codepush.appcenter.ms 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval';
      style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
      font-src 'self' https://fonts.gstatic.com;
      media-src *"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width, viewport-fit=cover"
    />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <meta name="color-scheme" content="light dark" />
    <!--CSS START-->
    <link rel="stylesheet" type="text/css" href="dependencies/onsenui/css/onsenui.css">
    <link rel="stylesheet" type="text/css" href="dependencies/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <!--CSS END-->
    <title>Movil</title>
  </head>
  <body>
    <ons-splitter var="mySplitter">
      <ons-splitter-side side="left" width="320px" collapse swipeable>
        <ons-page>
          <div style="text-align: center; margin: 20px">
            <img src="img/onsen.svg" alt="" width="60%">
          </div>
          <ons-list>
              <ons-list-item ng-if="app.rutaActual!=='/login'" tappable ng-click="app.goToPage('/login')">Login</ons-list-item>
              <ons-list-item ng-if="app.rutaActual!=='/dashboard'" tappable ng-click="app.goToPage('/dashboard')">Dashboard</ons-list-item>
              <ons-list-item ng-if="app.rutaActual!=='/acerca'" tappable ng-click="app.goToPage('/acerca')">Acerca...</ons-list-item>
              <ons-list-item ng-if="app.rutaActual!=='/pruebas'" tappable ng-click="app.goToPage('/pruebas')">Pruebas</ons-list-item>
          </ons-list>
        </ons-page>
      </ons-splitter-side>
      <ons-splitter-content>
        <ng-view></ng-view>
      </ons-splitter-content>
    </ons-splitter>

    <script src="cordova.js"></script>
    <!--DEPENDENCIES-->
    <script src="dependencies/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="dependencies/angular-animate/angular-animate.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="dependencies/angular-route/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="dependencies/angular-sanitize/angular-sanitize.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="dependencies/onsenui/js/onsenui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="dependencies/angularjs-onsenui/dist/angularjs-onsenui.min.js" type="text/javascript" charset="utf-8"></script>
    <!--DEPENDENCIES END-->
    <!--SCRIPTS-->
    <script src="js/jst.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/loader.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/interceptor.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/routes.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/modules/acerca/acerca.controller.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/modules/dashboard/dashboard.controller.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/modules/dashboard/dashboard.service.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/modules/login/loginController.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/modules/pruebas/pruebas.controller.js" type="text/javascript" charset="utf-8"></script>
    <!--SCRIPTS END-->
  </body>
</html>
