<ons-page ng-controller="AcercaController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">{{app.pageTitle}}</div>
  </ons-toolbar>

  <p style="text-align: center">
    <ons-button>
      {{connection}}
    </ons-button>
  </p>

</ons-page>