body {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

ons-splitter-side {
  box-shadow: 0 0 10px #666;
  padding: 5px;
}

.contenido-bottom-toolbar{
  text-align: center;
  padding: 10px 0;
}